@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RDLC Print</h1>
    <a target="_blank" asp-action="ExportPDF" asp-controller="Home">Export PDF</a>
    <a target="_blank" asp-action="ExportExcel" asp-controller="Home">Export Excel</a>
    <a target="_blank" asp-action="SendMail" asp-controller="Home">Send Mail</a>
</div>
